{
	"verifyConditions": {
		"path": "semantic-release-docker",
		"registryUrl": "docker.onedash.rocks"
	},
	"plugins": [
		[
			"@semantic-release/commit-analyzer",
			{
				"preset": "conventionalcommits",
				"releaseRules": [
					{
						"type": "chore",
						"release": "patch"
					}
				]
			}
		],
		[
			"@semantic-release/exec",
			{
				"prepareCmd": "docker build -t docker.onedash.rocks/book-your-horse-homepage ."
			}
		],
		[
			"semantic-release-docker",
			{
				"name": "docker.onedash.rocks/book-your-horse-homepage"
			}
		]
	]
}
