/* crimson-pro-regular - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/crimson-pro-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/crimson-pro-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/crimson-pro-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/crimson-pro-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/crimson-pro-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/crimson-pro-v20-latin-regular.svg#CrimsonPro') format('svg'); /* Legacy iOS */
  }
  /* crimson-pro-700 - latin */
  @font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/crimson-pro-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/crimson-pro-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/crimson-pro-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/crimson-pro-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./fonts/crimson-pro-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/crimson-pro-v20-latin-700.svg#CrimsonPro') format('svg'); /* Legacy iOS */
  }
  /* raleway-300 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/raleway-v26-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/raleway-v26-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/raleway-v26-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/raleway-v26-latin-300.woff') format('woff'), /* Modern Browsers */
         url('./fonts/raleway-v26-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/raleway-v26-latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-regular - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/raleway-v26-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/raleway-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/raleway-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/raleway-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/raleway-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/raleway-v26-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-500 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/raleway-v26-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/raleway-v26-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/raleway-v26-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/raleway-v26-latin-500.woff') format('woff'), /* Modern Browsers */
         url('./fonts/raleway-v26-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/raleway-v26-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/raleway-v26-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/raleway-v26-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/raleway-v26-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/raleway-v26-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./fonts/raleway-v26-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/raleway-v26-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-900 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/raleway-v26-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/raleway-v26-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/raleway-v26-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/raleway-v26-latin-900.woff') format('woff'), /* Modern Browsers */
         url('./fonts/raleway-v26-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/raleway-v26-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
  }
